.master-tabel-container{
  width: 100%;
}
  
.table-prop3 {
    border-collapse: collapse;
    width: 114%; /* Adjust this to the desired width when sidebar is visible */
    table-layout: auto;
    margin-top: 50px; /* Adjusted margin for table positioning */
  }
  
 .table-prop3 tr:hover{
    cursor: pointer;
    background-color: rgb(165, 255, 137);
  }
  .large-table-prop3 {
    width: 110%; /* Adjust this to the desired width when sidebar is hidden */
  }
  
  .table-prop3 th,
  .table-prop3 td {
    border: 1px solid black;
    white-space: nowrap; /* Prevent text wrapping in cells */
    padding: 10px;
    align-items: center; /* Standard padding for cells */
  }
  
  .table-prop3 th {
    color: black;
    margin-top: 20px;
    z-index: 1; /* Ensure header stays above other content */
    background-color: #1A0F79;
    color: white;
    font-size: 18px; /* Increased font size for header */
    text-align: center; /* Center align header text */
  }
  
  .table-prop3 .Dropdown {
    padding: 10px; /* Increased padding for better readability */
    box-sizing: border-box;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: none;
  }

  
  .AddButton,
  .DoneButton1,
  .ClearButton,
  .DeleteButton {
    margin-top: 10px;
    padding: 8px 30px; /* Adjusted padding for better button appearance */
    background-color: #1A0F79; /* Button background color */
    color: white; /* Button text color */
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
  
.nav-middle .search-box
{
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 25px;
    margin-top: 3px;
    width:450px;

}
.nav-middle .search-box input{
    width: 200px;
    border: 0;
    outline: 0;
    background: transparent;

}
.nav-middle .search-box img{
    width: 15px;
    margin-left: 200px;
   
}
.nav-middle .search-box img:hover{
    background-color: #ccc;
    
}
.mast-header-icon-wrapper {
  display: inline-flex; /* Ensure items are in a row */
  align-items: center; /* Center items vertically */
  margin-left: 0px; 
  margin-right:2px ;/* Adjust margin as needed */
}

svg{
  color: white;
}
  


  