.updatetable-container3{
  width: 100%;
}
.upload-tab-table-prop {
  border-collapse: collapse;
  width: 50%; /* Adjust this to the desired width when sidebar is visible */
  table-layout: auto;
  margin-right: 20px;
  margin-top: 40px; /* Adjusted margin for table positioning */
}

.upload-tab-large-table-prop {
  width: 110%; /* Adjust this to the desired width when sidebar is hidden */
}

.upload-tab-table-prop th,
.upload-tab-table-prop td {
  border: 1px solid black;
  white-space: nowrap; /* Prevent text wrapping in cells */
  padding: 10px;
  align-items: center; /* Standard padding for cells */
  height: 60px; /* Adjust this value to increase the height */
}

.upload-tab-table-prop th {
  color: black;
  top: 0;
  z-index: 1; /* Ensure header stays above other content */
  background-color: #1A0F79;
  color: white;
  font-size: 18px; /* Increased font size for header */
  text-align: center; /* Center align header text */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content img {
  width: 15px; /* Adjust size as necessary */
  margin-left:30px; /* Space between text and image */
}

.nav-middle-search-box {
  border: 1px solid #ccc;
  margin-right: 25px;
  padding: 8px 12px;
  border-radius: 25px;
  margin-top: 10px;
  width: 50px; /* Adjust width as necessary */
}

.nav-middle-search-box img:hover {
  background-color: #ccc;
}

svg { 
color:white;
  margin-left: 100px;
} 
.header-icon-wrapper{
  margin-left: 50px;
}