/* Transmittalstyle.css */
.modal-content{
  width: 60rem !important;
  margin-top: 8rem !important;
  margin-left: 10rem !important;
}
.model-table-container1{
  width: 10rem;
}
 .table-prop1 {
  border-collapse: collapse;
  width: 100%; /* Full width of the container */
  table-layout: auto;
  margin-top: 50px; /* Adjusted margin for table positioning */
}

 .table-prop1 th,
 .table-prop1 td {
  border: 1px solid black;
  white-space: nowrap; /* Prevent text wrapping in cells */
  padding: 10px;
  align-items: center; /* Standard padding for cells */
}

 .table-prop1 th {
  color: black;
  top: 0;
  z-index: 1; /* Ensure header stays above other content */
  background-color: #1A0F79;
  color: white;
  font-size: 18px; /* Increased font size for header */
  text-align: center; /* Center align header text */
}

.table-prop1 .Dropdown {
  padding: 10px; /* Increased padding for better readability */
  box-sizing: border-box;
}

 .input-field {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
 
}

 .Dropdown {
  position: relative;
}

 .Dropdown select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

 .AddButton,
 .DoneButton1,
 .ClearButton,
 .DeleteButton,
 .button-select {
  margin-top: 10px;
  padding: 8px 30px; /* Adjusted padding for better button appearance */
  background-color: #1A0F79; /* Button background color */
  color: white; /* Button text color */
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

/* Add margin between buttons */
 .DoneButton1 {
  margin-left: 10px; /* Adjust as needed */
}

 .ClearButton {
  margin-left: 10px; /* Adjust as needed */
}

 .DeleteButton {
  margin-left: 10px; /* Adjust as needed */
}

.AddButton:hover,
.DoneButton1:hover,
 .ClearButton:hover,
.DeleteButton:hover,
.button-select:hover {
  background-color: #0056b3; /* Darker background color on hover */
}

 .file-input {
  padding: 6px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: white;
  color: black;
  border: none;
  width: 160px; /* Adjust width as needed */
}

.upload {
  padding-top: 20px;
}
